@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@500;600&display=swap');
:root {
  /*
   ===> Colors <==
  **/
  --color-white: hsl(0, 0%, 100%);
  --color-matted-black: hsl(219, 29%, 14%);
  --color-teal: hsl(210, 46%, 95%);
  --color-purple: hsl(263, 55%, 52%);
  --color-light-purple: hsl(264, 82%, 70%);
  --color-grey: hsl(0, 0%, 81%);
  --color-matted-grey: hsl(217, 19%, 35%);

  /*
    ===> Fonts <==
  **/
  --font-family: "Barlow Semi Condensed", sans-serif;
  --font-size: 13px;
  --font-weight-500: 500;
  --font-weight-600: 600;

  /*
    Grid
  **/
  --grid-gap: 24px 30px;
}

html, body { height: 100%;}

body {
  background-color: var(--color-teal);
  font-family: var(--font-family);
  font-size: var(--font-size);
  font-weight: var(--font-weight-500);
  display: flex;
  justify-content: center;
  align-items: center;
}

.testimonials-grid {
  width: 1110px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: auto auto;
  grid-template-areas: 
  "dc dc jo ki"
  "je pa pa ki";
  gap: var(--grid-gap);
  
}

.testimonial {
  border-radius: 8px;
  padding: 32px;
  box-shadow: 40px 60px 50px -47px rgba(72, 85, 106, 0.25);
}

.testimonial:nth-child(1) {
  grid-area: dc;
  background-color: var(--color-purple);
  background-image: url("../images/bg-pattern-quotation.svg");
  background-repeat: no-repeat;
  background-position: 82% top;
}

.testimonial:nth-child(2) {
  grid-area: jo;
  background-color: var(--color-matted-grey);
}

.testimonial:nth-child(3) {
  grid-area: je;
  background-color: var(--color-white);
}

.testimonial:nth-child(4) {
  grid-area: pa;
  background-color: var(--color-matted-black);
}

.testimonial:nth-child(5) {
  grid-area: ki;
  background-color: var(--color-white);
}

.testimonial .testimonial__header {
  display: flex;
  margin-bottom: 18px;
}

.testimonial .testimonial__header .profile-picture {
  border-radius: 9999px;
  display: inline-block;
  width: 28px;
  height: 28px;
}

.testimonial .testimonial__header .profile-info {
  margin-left: 17px;
}

.testimonial .testimonial__header .profile-info .name {
  color: var(--color-white);
  font-size: 13px;
  font-weight: var(--font-weight-500);
  word-wrap: break-word;
}

.testimonial .testimonial__header .profile-info .verified {
  color: var(--color-grey);
  font-size: 11px;
  font-weight: var(--font-weight-500);
  word-wrap: break-word;
}

.testimonial .review {
  color: var(--color-white);
  font-size: 20px;
  font-weight: var(--font-weight-600);
  word-wrap: break-word;
  margin-bottom: 16px;
}

.testimonial .quote {
  color: var(--color-grey);
  font-size: 13px;
  font-weight: 500;
  line-height: 18px;
  font-weight: var(--font-weight-500);
  word-wrap: break-word;
}

.testimonial:nth-child(3) .profile-info .name,
.testimonial:nth-child(3) .profile-info .verified,
.testimonial:nth-child(3) .review,
.testimonial:nth-child(3) .quote,
.testimonial:nth-child(5) .profile-info .name,
.testimonial:nth-child(5) .profile-info .verified,
.testimonial:nth-child(5) .review,
.testimonial:nth-child(5) .quote {
  color: var(--color-matted-grey);
}

.border-purple {
  border: 2px var(--color-light-purple) solid;
}
.border-dark-purple {
  border: 2px var(--color-purple) solid;
}

@media only screen and (max-width: 1024px) {
  body {
    padding: 71px 24px;
  }

  .testimonials-grid {
    grid-template-columns: repeat(auto-fill, minmax(min(400px, 100%), 1fr));
    grid-template-areas:
    "dc jo"
    "je pa"
    "ki ki";
  }
}

@media only screen and (max-width: 767px) {
  .testimonials-grid {
    height: 100%;
    grid-template-columns: repeat(auto-fill, minmax(327px, 1fr));
    grid-template-areas:
    "dc"
    "jo"
    "je"
    "pa"
    "ki";
  }
}