@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap');
:root {
  /*
   Layout variables
  */
  --mobile-view: 375px;
  --desktop-view: 1440px;

  /*
    Colors variables
  */
  --color-white: hsl(0, 0%, 100%);
  --color-grey: hsl(219, 15%, 55%);
  --color-light-gray: hsl(212, 46%, 89%);
  --color-dark-navy: hsl(218, 44%, 22%);
  --color-blue: hsl(216, 95%, 58%);
  --color-blue-shade: hsl(216, 100%, 61%);
  --color--teal-blue:hsl(228, 45%, 44%);
  /*
      Typography variables
  */
  --font-family: 'Outfit', sans-serif;
  --font-size: 15px;
}

body {
  width: 100%;
  max-width: 100%;
  font-family: var(--font-family);
  font-size: var(--font-size);
  margin: 0;
  padding: 0;
}

.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: var(--color--teal-blue);
}

.qr-code-section {
  width: 1440px;
  height: 800px;
  max-width: 100%;
  display: flex;
  justify-content: center;
  justify-items: center;
  background-color: var(--color-light-gray);
  margin: 0 auto;
}

.qr-code {
  width: 320px;
  height: 497px;
  max-width: 100%;
  background-color: var(--color-white);
  align-self: center;
  text-align: center;
  padding: 18px 5px 5px 5px;
  border-radius: 20px;
}

.qr-code__media {
  width: 100%;
}

.qr-code__header {
  padding: 0 10px;
}

.qr-code__image {
  display: block;
  max-width: 100%;
  width: 288px;
  height: auto;
  margin: 0 auto;
  border-radius: 10px;
}

.qr-code__header h5 {
  font-size: 1.375em;
  font-weight: 700;
  word-wrap: break-word;
  margin: 22px 5px;
  color: var(--color-dark-navy);
}

.qr-code__body {
  color: var(--color-dark-navy);
  font-size: 0.9375em;
  font-weight: 400;
  letter-spacing: 0.19px;
  word-wrap: break-word
}

@media screen and (max-width: 480px) {
  .qr-code-section {
    width: 100%; 
  }
}