@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap');
:root {
  /*
   Layout variables
  */
  --mobile-view: 375px;
  --desktop-view: 1440px;

  /*
    Colors variables
  */
  --color-white: hsl(0, 0%, 100%);
  --color-grey: hsl(219, 15%, 55%);
  --color-light-gray: hsl(212, 46%, 89%);
  --color-dark-navy: hsl(218, 44%, 22%);
  --color-blue: hsl(216, 95%, 58%);
  --color-blue-shade: hsl(216, 100%, 61%);
  --color--teal-blue:hsl(228, 45%, 44%);
  /*
      Typography variables
  */
  --font-family: 'Outfit', sans-serif;
  --font-size: 15px;
}

body {
  width: 100%;
  max-width: 100%;
  font-family: var(--font-family);
  font-size: var(--font-size);
}

.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: var(--color--teal-blue);
}

.qr-code-section {
  width: 100%;
  max-width: 100%;
  display: flex;
  justify-content: center;
  justify-items: center;
}